*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: fit-content;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding:0 10%;
    position: relative;
    top: 25vh;
    border-radius: 10px;
    background-color:#e4dbdb;
    box-shadow:3px 3px  #c9c5c5;
}
input{
    width: 100%;
    font-size: 120%;
    border-radius: 5px;
    border: 1px solid #888;
}
h3{
    text-align: center;
    margin: 10%;
}
button{
    padding: 1%;
    border-radius: 15%;
    border: 1px solid #888;
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
}