*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    border-radius:10px;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock{
    margin-top: 35vh;
    height: 30vh;
    width: 30vh;
    background: url("/main/images/clock.png") no-repeat;
    background-size: 100%;
    border-radius: 100%;
}
#clock > div{
    display: block;
    height: 30vh;
    width: 30vh;

}
#hour{
    height: 2.3%;
    width: 25%;
    background: black;
    position:relative;
    top: 48.25%;
    left: 50%;
    transform-origin: left;
}
#minute{
    height: 1.7%;
    width: 30%;
    background: black;
    position:relative;
    top: 49%;
    left: 50%;
    transform-origin: left;
}
#second{
    height: 1.2%;
    width: 40%;
    display: flex;
    background: black;
    position:relative;
    top: 47%;
    left: 50%;
    transform-origin: left;
    transform: rotate(60deg);
}
